<!DOCTYPEhtml>
<html>
	<head> 
		<title>Rango</title>
	</head>
	<body> 
		<div>
		{% if category %}
			<h1>{{ category.name }}</h1> 
			{% if pages %}
			<ul>
				{% for category in categories %} 
				<li>
			        <!-- The following line is changed to add an HTML hyperlink -->
					<a href="/rango/category/{{ category.slug }}/">{{ category.name }}</a> 
				</li>
			{% endfor %} 
		</ul>
			{% else %}
			<strong>No pages currently in category.</strong> 
			{% endif %}
        {% else %}
            The specified category does not exist.
		{% endif %}
		</div> 
	</body>
</html>
